# Dependencies
node_modules/
**/node_modules/

# Production build outputs
dist/
**/dist/

# Local env files
.env
**/.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
**/mongo.log

# System/IDE files
.DS_Store
.vscode/
.idea/
Thumbs.db

# Database files
mongodb_data/
D:/mongodb_data/

# Local run script
run.bat

